PORT=8088
HA_URL=http://192.168.4.98:8123
HA_TOKEN=PASTE_LONG_LIVED_ACCESS_TOKEN_HERE

# Change this to your Frigate server IP/port if different
FRIGATE_URL=http://192.168.4.98:5000

WEATHER_ENTITY=weather.forecast_home
ALEXA_FRONT_DOOR_BUTTON=button.fkeller187_gmail_com_show_front_door
