PORT=8088

HA_URL=http://homeassistant.local:8123
HA_TOKEN=YOUR_HOME_ASSISTANT_TOKEN

FRIGATE_URL=http://frigate.local:5000

WEATHER_ENTITY=weather.forecast_home
ALEXA_FRONT_DOOR_BUTTON=button.show_front_door
